<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- Test Settings-->
    <add key="TestName" value="Demo_Test" />
    <add key="GlobalReports" value="" />
    <!--<add key="TestName" value="Phase-II Test"/>-->
    <!--<add key="browser" value="chrome" />-->
    <add key="browser" value="chromebeta" />
    <!--<add key="browser" value="edge" />-->
    <!--<add key="browser" value="firefox" />-->
    <!-- LogIn Info-->
    <add key="url" value="http://www.google.com" />
    <add key="user" value="test@test.test" />
    <add key="pwd" value="test123" />
    <!-- LogIn Info End-->
    <!-- DB Info-->
    <add key="dataSource" value="" />
    <add key="dbName" value="" />
    <add key="dbUser" value="domain\user" />
    <add key="dbPwd" value="" />
    <add key="winAuth" value="true" />
    <!-- DB Info End-->
    <!-- Queries Used-->
    <!-- Queries Used End-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>